# Feature analysis 
First of all we will get into each feature individually, get a description of it and 
view if it has an important value to the recommendation system

## Credits
For the credits datset we encounter three types of dataset, the cast, crew and the id. We'll only research further into a feature if it is not self explanatory

In [7]:
import utils
import pandas as pd
credits = pd.read_csv(utils.data_credits)
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

### Cast
Now for each movie we have a list of cast dictionaries, each dictionary contains the cast id, the character it represents the id of the credit, its gender, its id(?), the real name of the cast, the order and a profile path. 

Surely we can discard the profile path

In [40]:
import json 
import ast 

c = credits['cast'][0]
c = ast.literal_eval(c)
c[10]

{'cast_id': 24,
 'character': 'Sergeant (voice)',
 'credit_id': '52fe4284c3a36847f8024fb9',
 'gender': 2,
 'id': 8655,
 'name': 'R. Lee Ermey',
 'order': 10,
 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}

### Crew
The crew is very similar to the cast, but it differentiates from it by having a department and job instead of character, credit id and order

In [41]:
import json 
import ast 

c = credits['crew'][0]
c = ast.literal_eval(c)
c[10]

{'credit_id': '52fe4284c3a36847f8024f91',
 'department': 'Art',
 'gender': 2,
 'id': 7883,
 'job': 'Art Direction',
 'name': 'Ralph Eggleston',
 'profile_path': '/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg'}

## Keywords

In [42]:
pd.read_csv(utils.data_ratings)

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]